doctype html
html
   head
   link(rel="stylesheet", href="style.css")

   body
   ul
     li
      a(href='/home') home
     li 
      a(href='/Services') Services
     li
      a(href="/Contact") Contact
      
    
      
      h1 services